# Projeto: Análise de Uso de Bicicletas
<hr>

#### Explorando dados para analisar uso de bicletas como meio de transporte<br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

#### Iniciando exploração do dataset

In [3]:
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [5]:
df.isna().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

> #### Respondendo às perguntas

### Pergunta 1:
Qual o tamanho desse dataset (número de linhas, número de colunas)?

In [7]:
df.shape

(17379, 17)

### Pergunta 2:
Qual a média da coluna windspeed?

In [8]:
df['windspeed'].mean()

0.19009760630646177

### Pergunta 3:
Qual a média da coluna temp?

In [9]:
df['temp'].mean()

0.4969871684216583

### Pergunta 4:
Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?

In [10]:
df['datetime'] = pd.to_datetime(df['datetime'])

ano = 2011
df_filtrado = df[df['datetime'].dt.strftime('%Y') == str(ano)]

In [11]:
df_filtrado.shape

(8645, 17)

### Pergunta 5:
Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?

In [12]:
df['datetime'] = pd.to_datetime(df['datetime'])

ano = 2012
df_filtrado = df[df['datetime'].dt.strftime('%Y') == str(ano)]

In [13]:
df_filtrado.shape

(8734, 17)

### Pergunta 6:
Quantas locações de bicicletas foram efetuadas em 2011?

In [14]:
df['datetime'] = pd.to_datetime(df['datetime'])

ano = 2011
df_filtrado = df[df['datetime'].dt.strftime('%Y') == str(ano)]

In [15]:
df_filtrado['total_count'].sum()

1243103

### Pergunta 7:
Quantas locações de bicicletas foram efetuadas em 2012?

In [16]:
df['datetime'] = pd.to_datetime(df['datetime'])

ano = 2012
df_filtrado = df[df['datetime'].dt.strftime('%Y') == str(ano)]

In [17]:
df_filtrado['total_count'].sum()

2049576

### Pergunta 8:
Qual estação do ano contém a maior média de locações de bicicletas?

In [18]:
grouped_df = df.groupby('season')['total_count'].mean()

In [19]:
grouped_df.idxmax()

3

### Pergunta 9:
Qual estação do ano contém a menor média de locações de bicicletas?

In [20]:
grouped_df = df.groupby('season')['total_count'].mean()

In [21]:
grouped_df.idxmin()

1

### Pergunta 10:
Qual horário do dia contém a maior média de locações de bicicletas?

In [22]:
grouped_df = df.groupby('hour')['total_count'].mean()

In [23]:
grouped_df.idxmax()

17

### Pergunta 11:
Qual horário do dia contém a menor média de locações de bicicletas?

In [24]:
grouped_df = df.groupby('hour')['total_count'].mean()

In [25]:
grouped_df.idxmin()

4

### Pergunta 12:
Que dia da semana contém a maior média de locações de bicicletas?

In [26]:
grouped_df = df.groupby('weekday')['total_count'].mean()

In [27]:
grouped_df.idxmax()

4

### Pergunta 13:
Que dia da semana contém a menor média de locações de bicicletas?

In [28]:
grouped_df = df.groupby('weekday')['total_count'].mean()

In [29]:
grouped_df.idxmin()

0

### Pergunta 14:
Às quartas-feiras (weekday = 3), qual horário do dia contém a maior média de locações de bicicletas?

In [30]:
wd = df[(df['weekday'] == 3)]
wd = wd.groupby('hour')['total_count'].mean()

In [31]:
wd.idxmax()

17

### Pergunta 15:
Aos sábados (weekday = 6), qual horário do dia contém a maior média de locações de bicicletas?

In [32]:
wd = df[(df['weekday'] == 6)]
wd = wd.groupby('hour')['total_count'].mean()

In [33]:
wd.idxmax()

13